NET "CLK" LOC = "V10";

NET "anodes(0)" LOC = "N16";
NET "anodes(1)" LOC = "N15";
NET "anodes(2)" LOC = "P18";
NET "anodes(3)" LOC = "P17";

NET "output(0)" LOC = "T17";
NET "output(1)" LOC = "T18";
NET "output(2)" LOC = "U17";
NET "output(3)" LOC = "U18";
NET "output(4)" LOC = "M14";
NET "output(5)" LOC = "N14";
NET "output(6)" LOC = "L14";
NET "DP" LOC = "M13";